@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--color-lilac-50: #f4f5fd;
	--color-lilac-100: #e5e7fa;
	--color-lilac-200: #cfd2f6;
	--color-lilac-300: #b2b5ef;
	--color-lilac-400: #9593e6;
	--color-lilac-500: #8379db;
	--color-lilac-600: #735ecd;
	--color-lilac-700: #634eb4;
	--color-lilac-800: #514291;
	--color-lilac-900: #443b74;
	--color-lilac-950: #282244;

	--animate-accordion-down: accordion-down 0.1s ease-out;
	--animate-accordion-up: accordion-up 0.1s ease-out;
	--animate-scale-in: scale-in 0.1s ease;
	--animate-scale-out: scale-out 0.1s ease;
	--animate-fade-in: fade-in 0.1s ease;
	--animate-fade-out: fade-out 0.1s ease;
	--animate-enter-from-left: enter-from-left 0.1s ease;
	--animate-enter-from-right: enter-from-right 0.1s ease;
	--animate-exit-to-left: exit-to-left 0.1s ease;
	--animate-exit-to-right: exit-to-right 0.1s ease;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes enter-from-right {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enter-from-left {
		from {
			opacity: 0;
			transform: translateX(-200px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes exit-to-right {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(200px);
		}
	}

	@keyframes exit-to-left {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-200px);
		}
	}

	@keyframes scale-in {
		from {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.9);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
	}

	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

body {
	@apply bg-lilac-50 font-[inter];
}

.btn {
	@apply cursor-pointer rounded-md bg-blue-700 px-4 py-2 font-medium text-white transition-colors duration-200 hover:bg-blue-600;
}

.btn-sm {
	@apply px-3.5 py-1.5 text-sm;
}

.btn-outline {
	@apply border border-gray-300 bg-transparent text-gray-700 hover:bg-transparent;
}
